<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,79}</string>
                <key>spriteSourceSize</key>
                <string>{34,79}</string>
                <key>textureRect</key>
                <string>{{1,82},{34,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,79}</string>
                <key>spriteSourceSize</key>
                <string>{38,79}</string>
                <key>textureRect</key>
                <string>{{46,1},{38,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,79}</string>
                <key>spriteSourceSize</key>
                <string>{43,79}</string>
                <key>textureRect</key>
                <string>{{1,1},{43,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spritesheet.png</string>
            <key>size</key>
            <string>{85,117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15c0aab4b5161c4837c3fd14fda8d2b2:ee2f6462352fc9b97b87116fae8e05c5:1de88c2a7237d4cdf78de8d8ad4f4c7e$</string>
            <key>textureFileName</key>
            <string>spritesheet.png</string>
        </dict>
    </dict>
</plist>
